<app-nav></app-nav>
<div class="reservation-container">
  <form (submit)="reserve()">
    <h2>Make a Reservation</h2>

    <div class="form-group">
      <label for="restaurant">Restaurant:</label>
      <input type="checkbox" id="restaurant" [(ngModel)]="reservation.restaurant" (change)="onServiceChange()" name="restaurant">
    </div>
    <div class="form-group">
      <label for="hotel">Hotel:</label>
      <input type="checkbox" id="hotel" [(ngModel)]="reservation.hotel" (change)="onServiceChange()" name="hotel">
    </div>
    <div class="form-group">
      <label for="transport">Transport:</label>
      <input type="checkbox" id="transport" [(ngModel)]="reservation.transport" (change)="onServiceChange()" name="transport">
    </div>
    
    <div class="form-group">
      <label for="location">Location:</label>
      <select id="location" [(ngModel)]="reservation.location" name="location">
        <option *ngFor="let loc of locations" [value]="loc.name">{{ loc.name }}</option>
      </select>
    </div>
    
    <div class="image-container" *ngIf="selectedImage">
      <img [src]="selectedImage" alt="Selected location">
    </div>

    <div class="--send">
      <button type="submit">Reserve</button>
    </div>
  </form>
</div>

<app-texto></app-texto>
