<app-nav></app-nav>
<form (ngSubmit)="reserve()">
  <label>
    <input type="checkbox" [(ngModel)]="reservation.restaurant" (change)="onServiceChange()"> Restaurant
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="reservation.hotel" (change)="onServiceChange()"> Hotel
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="reservation.transport" (change)="onServiceChange()"> Transport
  </label>

  <label for="location">Location:</label>
  <input id="location" name="location" [(ngModel)]="reservation.location" required>

  <button type="submit">Reserve</button>
</form>

<div *ngIf="selectedImage">
  <img [src]="selectedImage" alt="Selected Location">
</div>

<app-texto></app-texto>
