<main class="principal">
    <div class="--contenido">
        <h3>Misión</h3>
        <p>
            Nuestra misión es brindar a nuestros clientes la oportunidad de crear una cita perfecta 
            con sus parejas, ofreciendo nuestros establecimientos para tener la mejor cita.
        </p>
        <h3>Visión</h3>
        <p>
            Queremos ser lideres del negocio de citasen los proximos 5 años y poder ser reconocidos a nivel mundial.
        </p>
    </div>
    <div class="foto1">
        <img src="./assets/secundario.jpg" alt="">
    </div>
</main>

