<main class="principal">
    <div class="--contenido">
        <p>
            Cita Perfecta, nos enfocamos en brindar nuestros servicios al
            público para tener esa cita con tu pareja que sea inolvidable para ustedes dos.<br>           
            Tenemos varios socios y comercios a tu disposición para reservar, permitenos ser 
            parte de tus planes y te ayudaremos con lo que necesites.
        </p>
        <div class="--button">
            <a routerLink="/reser/reservar">Reservar</a>
        </div>
    </div>
    <div class="foto1">
        <img src="./assets/principal.jpg" alt="">
    </div>
</main>
