<link rel="stylesheet" href="nav.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Luxurious+Script&display=swap" rel="stylesheet">
<nav>
    <div class="encabeza">
        <div class="logocita">
            <img class="logo" src="./assets/LogoCita.jpg" width="143" height="130">
            <h1 class="negocio">Cita Perfecta</h1>
        </div>
        <div class="auth-buttons">
            <a class="login" routerLink="/inicio/login">Login</a>
            <a class="join" routerLink="/crear/join">Join</a>
        </div>
    </div>
    <div class="navegar">
        <ul>
            <li class="--nav"><a class="--elm" routerLink="/home/inicio">Inicio</a></li>
            <li class="--nav"><a class="--elm" routerLink="/sec/sobre">Sobre Nosotros</a></li>
            <li class="--nav"><a class="--elm" routerLink="/reser/reservar">Reserva</a></li>
        </ul>
    </div>
</nav>